doctype html
html
  head
    h1 User Manager
    link(rel='stylesheet', href='/stylesheets/style.css')
  body

       p
            | 
            a(href="/login/help") Login
            | 
            
       p
            | 
            a(href="/user/help") User
            |  
       p
            | 
            a(href="/roles/help") Roles
            |  

       p
            | 
            a(href="/permissions/help") Permissions
            |  

       p
            | 
            a(href="/topics/help") Topics
            |  